.blockInfoFive {
	.blockInfoFive-head {
		.blockInfoFive-wrap {
			display: flex;

			.blockInfoFive-left {
				min-width: 33.33333%;

				.blockInfoFive-left-top {
					display: flex;
				}
			}

			.blockInfoFive-center {
				min-width: 33.33333%;
				display: flex;
			}

			.blockInfoFive-right {
				min-width: 33.33333%;
				.blockInfoFive-right-top {
					background: url("../assets/img/blockInfoFive/6.png");
					background-size: cover;
					background-repeat: no-repeat;
					height: 50%;
					display: -webkit-box;
					display: -ms-flexbox;
					display: flex;
					align-items: center;
					justify-content: center;
					transition: 0.4s;

					@media (max-width: 768px) {
						& {
							padding: 20px 0px 20px 0px;
						}
					}

					&:hover {
						background-color: #00ff40;
						opacity: 0.7;
						transition: 0.4s;
					}
				}

				.blockInfoFive-right-bottom {
					display: flex;
				}
			}

			@media (max-width: 768px) {
				& {
					flex-direction: column;
				}
			}
		}
	}

	.blockInfoFive-bottom {
		background-color: #282f35;
		padding: 96px 0px 94px 0px;
		text-align: center;

		.blockInfoFive-button {
			padding: 21px 75px 19px 75px;
			display: inline-block;
			border: 1px solid rgba(255, 255, 255, 0.5);
			transition: 0.6s;

			@media (max-width: 412px) {
				& {
					padding: 21px 35px 19px 35px;
				}
			}

			&:hover {
				border: 1px solid #00ff40;
				transition: 0.6s;
			}

			a {
				color: #ffffff;
				font-family: Lato;
				font-size: 14px;
				font-weight: 700;
				text-transform: uppercase;
				letter-spacing: 2.8px;
				transition: 0.7s;
			}

			&:hover a {
				color: #00ff40;
			}
		}

		@media (max-width: 768px) {
			& {
				padding: 66px 0px 54px 0px;
			}
		}
	}
}
