.blockInfoTwo {
	.blockInfoTwo-wrap {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;

		@media (max-width: 768px) {
			& {
				-webkit-box-orient: vertical;
				-webkit-box-direction: normal;
				-ms-flex-direction: column;
				flex-direction: column;
			}
		}
	}

	.blockInfoTwo-left {
		background: url("../assets/img/blockInfoTwo/background.png");
		min-width: 66.6%;
		background-size: cover;
		background-repeat: no-repeat;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		background-position: center;
		background-color: gray;
		-webkit-transition: 0.4s;
		-o-transition: 0.4s;
		transition: 0.4s;

		&:hover {
			background-color: #00ff40;
			-webkit-transition: 0.4s;
			-o-transition: 0.4s;
			transition: 0.4s;
		}

		@media (max-width: 768px) {
			& {
				padding: 20px 0px 40px;
			}
		}
	}

	.blockInfoTwo-right {
		margin: 0px auto;
		min-width: 33.4%;

		.blockInfoTwo-top {
			margin: 0px auto;
			text-align: center;
			padding: 70px 0px 65px 0px;
			position: relative;

			.blockInfoTwo-title {
				color: #353738;
				font-family: Lato;
				font-size: 18px;
				font-weight: 700;
				text-transform: uppercase;
				letter-spacing: 3.6px;
				padding: 31px 0px 26px 0px;

				@media (max-width: 768px) {
					& {
						padding: 21px 0px 16px 0px;
					}
				}
			}

			.blockInfoTwo-text {
				max-width: 398px;
				color: #848789;
				font-family: Lato;
				font-size: 16px;
				font-weight: 400;
				line-height: 30px;
				text-align: left;
				margin: 0px auto;
				padding: 0px 10px 0px 10px;

				&:after {
					content: "";
					width: 50px;
					height: 1px;
					background-color: #353738;
					display: block;
					margin: 0px auto;
					margin-top: 40px;
					opacity: 0.4;
				}

				@media (max-width: 768px) {
					&:after {
						margin-top: 20px;
					}
				}
			}

			@media (max-width: 420px) {
				& {
					padding: 20px 0px 40px 0px;
				}
			}

			&:after {
				content: "";
				width: 0;
				height: 0;
				border-left: 10px solid transparent;
				border-right: 10px solid transparent;
				border-top: 10px solid #fff;
				position: absolute;
				margin: 0px auto;
				bottom: 0;
				position: absolute;
				left: 50%;
				bottom: -10px;
				margin: 0px 0px 0px -10px;
			}
		}

		@media (max-width: 768px) {
			& {
				min-width: 100%;
			}
		}
	}
}
