.burger {
	display: none;
	margin: 0px auto;

	@media (max-width: 768px) {
		display: block;
	}

	.sidebar {
		z-index: 10;
		position: fixed;
		width: 100%;
		height: 100%;
		background-color: #2c2c2c;
		left: -100%;
		transition: 0.3s;

		li:first-child {
			padding: 25px 10px 40px 10px;
		}

		li:not(:first-child) {
			font-size: 1.8em;
			list-style: none;
			padding: 20px 10px;
		}

		a {
			display: block;
			text-decoration: none;
			color: #fff;
			text-align: center;
			position: relative;
			font-family: Arial Black;

			&:hover {
				color: #f38e0d;
			}

			img {
				padding-bottom: 25px;
			}
		}
	}

	.toggle-btn {
		position: fixed;
		z-index: 12;
		left: 0px;
		margin-left: 20px;
		top: 25px;
		span {
			display: block;
			width: 35px;
			height: 4px;
			background-color: black;
			margin: 4px 0px;
		}
	}

	.active {
		left: 0px;
		transition: 0.3s;
	}
}
